* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #e3e3e3;
}
header .links > * {
  margin-left: 10px;
}

/* MENU + CONTEUDO */
main {
  display: flex;
  flex-direction: row;  
}
main > * {
  padding: 20px;
}

/* MENU LATERAL */
main aside.menu {
  flex: 1;
  background: #FAFAFA;
}
main aside.menu ul {
  list-style: none;
}

/* CONTEUDO */
main section.content {
  flex: 10;
}

.books {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10px;
}
/* BOOK CARD */ 
.book-card {
  width: 200px;
  border: 1px solid gray;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.book-card img {
  width: 80%;
  height: 180px;
  align-self: center;
  margin-bottom: 10px;
}
.book-card .info {
  margin-bottom: 10px;
}
.book-title {
  font-weight: bold;
}
.book-card .actions {
  text-align: right;
}
.book-card .actions > * {
  margin-bottom: 5px;
}

/* SEARCH RESULTS */
.search-results h1 {
  margin-bottom: 20px;
  padding: 20px;
}

/* BOOK CARD HORIZONTAL */
.book-card-horizontal {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid black;
}
.book-card-horizontal .image {
  flex: 1;  
  display: flex;
  align-items: center;
  justify-content: center;
}
.book-card-horizontal .image img {
  width: 50%;
  height: 150px;
}
.book-card-horizontal .info {
  flex: 4;
}
.book-card-horizontal .info p {
  margin-bottom: 20px;
}
.book-card-horizontal .actions {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.book-card-horizontal .actions button {
  margin-bottom: 10px;
}

/* BOOK DETAILS */
.book-details .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.book-details .info {
  flex: 2;
  justify-self: flex-start;
  padding: 10px;
}
.book-details .actions {
  display: flex;
  flex-direction: column;
}
.book-details .description {
  margin-top: 20px;
}
